.input-range__label-container {
  left: -50%;
  position: relative;

  .input-range__label--max & {
    left: 50%;
  }
}

.rtl{
  .input-range__label-container {
    left: auto;
    right: -50%;
    position: relative;

    .input-range__label--max & {
      left: auto;
      right: 50%;
    }
  }
}